# Node
node_modules
npm-debug.log*
dist
.build
.next
.DS_Store

# Env
.env
.env.local

# CDK
cdk.out

# Cloud build output
cloud/api/dist
cloud/web/out

# DB
db/data
db/*.log
db/sql/items/temp
db/sql/wcc_sql_deploy.sql

# OS
Thumbs.db

# TypeScript
apps/web/tsconfig.tsbuildinfo
